<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media|signup</title>
</head>
<body style="background-image: url('./images/bg_login.jpg');background-repeat: no-repeat;">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
        
        .main1{
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
        
    
        .page{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        }

/* header style */
        .page .header{
        text-align: center;
        }

        .page .header .logo, 
        .page .header p, 
        .page .header button{
        margin-bottom: 15px;
        }

        .page .header > p{
        font-weight: bold;
        color: #8e8e8e;
        font-size: 18px;
        }

        .page .header > button{
        width: inherit;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        background-color: #0095f6;
        color: #ffffff;
        }

        .page .header div{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #8e8e8e;
        }

        .page .header div p{
        padding: 0 20px;  
        }

        .page .header div hr{
        width: 200px;
        
        }

        /* container style*/
        .page .container{
        display: flex;
        flex-direction: column;
        }

        .page .container form, input{
        width: inherit;
        }

        .page .container form input{
        border: 1px solid #dbdbdb;
        background-color: #fafafa;
        padding: 10px 5px;
        margin: 5px 0;
        }

        .page .container form input:last-of-type{
        margin-bottom: 10px;  
        }

        .page .container form button{
        width: inherit;
        margin-bottom: 20px;
        padding: 7px;
        border-radius: 5px;
        border: none;
        background-color: #0095f6;
        color: #ffffff;
        }

        .page .container ul{
        list-style: none;
        text-align: center;
        margin-bottom: 10px;
        }

        .page .container ul li{
        display: inline;
        color: #8e9096;
        }

        .page .container ul li a{
        text-decoration: none;
        font-weight: bold;
        color: #8e9096;
        }

        /* option style */
        .option p > a{
            text-decoration: none;
            color: #00a0f7;
        }
        .option{
            border: 1px solid #dbdbdb;
            background-color: white;
            width: 350px;
            height: 70px;
            margin-top: 20px 0;
            display: flex; 
            align-items: center;
            justify-content: center;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            
        }
        

        /* Mobile Styles */

        @media only screen and (max-width: 400px) {
            body {
                font-family: Freight Sans
            }
        
        .page{
            width: 250px;
            background-color: #fafafa;
        }
        .option{
            width:250px;
            margin-top:20px;
        }
        .page .header{
            width: inherit;
            margin-top: 10px;
        }
        
        .page .container{
            width: inherit;
        }
        .page .container form button{
            margin:5px 30%;
            width:auto;
        }
        
        
        .page .container form input{
            padding: 10px 5px;
            margin: 5px 15%;
            width:auto;
        }
        
        
        }

        @media only screen and (min-width: 401px){
            body {
                font-family: Neue Helvetica
            }
        .page{
            border: 1px solid #dbdbdb;
            width: 350px;
            background-color: white;
            margin: 40px 40px 10px 40px;
        }
        
        .page .header{
            width: 270px;
            margin-top: 15px;
        }
        
        .page .container{
            width: 270px;
        }
        
        
        }

</style>
    <div class="main1">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
            .invalid_flag{
                width:100%;
                background-color: rgb(201, 201, 11);
                color:black;
                opacity:0.7;
                z-index: 2;
                margin:0px;
                padding:0px 2px;
                
            }
            #logo{
                font-family: "Dancing Script",cursive;
                font-size:50px;
                color:black;
            }
        </style>
        <%if(invalid_signup_flag){%>
        <div class="invalid_flag">
            Already created account
        </div>
        <%}%>
        <div class="page">
            <div class="header">
                <p id="logo">Social Duniya</p>
              <p>
                One step to become new member of our community
              </p>
            </div>
            
            <div class="container">
              <form action="/signup" method="POST">
                <input type="text" placeholder="Username" name="name" required>
                <input type="email" placeholder="Email" name="email" required>
                <input type="tel" placeholder="Mobile Number" name="number" required>
                <input type="password" placeholder="Password" name="password" required>
                <input type="text" name="detail" placeholder="Other highlights about you">
                <button type="submit">Sign up</button>
              </form>
            </div>
        </div>
        <div class="option">
           <p>Have an account? <a href="/login">Log in</a></p>
        </div>
        
    </div>
</body>
</html>